body {
  margin: 0;
  background-image: url("/public/images/backgroundImage.jpeg");
  background-size: cover;
  min-height: 100vh;
  background-repeat: no-repeat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app-container {
  text-align: center;
}
